<h1 style="text-align: center"><%= "#{@user.username} is following:" %></h1>
<div class="container">
  <% @following.each do |user| %>
    <%= user.username %>
    <a href="/profile/<%= user.id %>"><input type="submit" value ="profile"></a><br>
  <% end %>
</div>