<div class="container">
  <div class="page_title"><%= "#{@user.username} is following" %></div>
  <% @following.each do |user| %>
    <%= user.username %>
    <a href="/profile/<%= user.id %>"><input type="submit" value ="profile"></a><br>
  <% end %>
</div>