<h1 style="text-align: center"><%= "followers of #{@user.username}:" %></h1>
<div class="container">
  <% @followers.each do |user| %>
    <%= user.username %>
    <a href="/profile/<%= user.id %>"><input type="submit" value ="profile"></a><br>
  <% end %>
</div>