<h1 style="text-align: center"><%= "#{@this_user.username} has these followers(fans):" %></h1>
<div class="container">
  <% @followers.each do |user| %>
    <%= user.username %>
    <a href="/profile/<%= user.id %>"><input type="submit" value ="View Profile"></a>
  <% end %>
</div>