<div class="container">

<h1>Lil' Twitter</h1>
<% if session[:user_id] %>
    <h1>Welcome, <%= @user.username %></h1>
    <form id="new_tweet" method="post" action="/tweets">
    <textarea rows="4" cols="50" name="tweet_content" maxlength="140" placeholder="140 characters or less."></textarea>

    <div class="submit"><input type="submit" value="Send Tweet"></div>
  </form>
   <% else %>
    <h1 style="text-align:center;">Sign in Already!</h1>
<% end %>

</div>
