<div class="container">
  <% if session[:user_id] %>
    <h1>Welcome, <%= @user.username %></h1>
    <form id="new_tweet" method="post" action="/tweets">
      <textarea rows="4" cols="50" name="tweet_content" maxlength="140" placeholder="140 characters or less."></textarea>

      <div class="submit"><input type="submit" value="Tweet"></div>
    </form>
  <% else %>
    <h1 style="text-align:center;">Sign in Already!</h1>
  <% end %>

  <% if session[:username] %>
    <h3>tweets:</h3>
    <% @tweets.each do |tweet| %>
      <div class = "tweet_div"><%= tweet.content %><br>Tweeted at: <%= tweet.created_at %><br><br></div>
    <% end %>
  <% end %>

</div>
