<div class="container">
  <% if @user %>
    <h1>Welcome, <%= @user.username %></h1>
    <!-- enter new tweet form -->
    <form method="post" action="/new_tweet">
      <textarea rows="4" cols="50" name="tweet_content" maxlength="140" placeholder="140 characters or less."></textarea>
      <div><input type="submit" value="Tweet"></div>
    </form>
    <!-- tweet feed displays all relevant tweets -->
    <h3>tweets:</h3>
    <% @tweets.each do |tweet| %>
      <div>
        <!-- parse datetime into readable form -->
        <b><%= @users.find(tweet.author_id).first.username %></b><br>
        <% day = tweet.created_at.day %>
        <% month = tweet.created_at.month %>
        <% year = tweet.created_at.year %>
        <% hour = tweet.created_at.hour %>
        <% minute = tweet.created_at.min %>
        <!-- print tweet datetime  -->
        <%= "#{hour}:#{minute} #{month}/#{day}/#{year}" %><br><br>
        <!-- print tweet content  -->
        <%= tweet.content %><br><br>
      </div>
    <% end %>
  <% end %>
</div>
