
  <% if @error %>
    <div class="errors"><%= @error %></div>
  <% end %>
    <div class="container">
      <form class="form-signin" role="form" id="sign-in" method="post" action="/login">
        <input type="text" class="form-control" required autofocus type="text" name="username" placeholder="Username" value="<%= @email %>">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">Login</button>
      </form>